
.centered {
  position: absolute;
	top: 0;
  bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#sliders {
	left: 0;
	right: 0;
	margin: auto;
  margin-top: 50px;
}

td {
  text-align: center;
}
